{{ partial:page-header }}

<div class="echo">
{{ partial:lead :lead="content"}}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <article class="list">
                {{ collection:blog paginate="true" as="posts" limit="4" }} 
                    {{ if no_results }}
                        <div class="card my-5 p-3">
                            Er zijn momenteel geen weblog berichten.
                        </div>
                    {{ /if }}    
                    {{ posts scope="tag" }} 
                        {{ partial:block }} 
                    {{ /posts }} 
                    
                    {{ partial:pagination }} 
                {{ /collection:blog }}
            </article>
        </div>
        <div class="col-sm-4">
            {{ partial:blog/sidebar }}
        </div>
    </div>
</div>
</div>

