<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title or site_title }}</title>
    <meta name="author" content="Renaissance IT" />
    <meta name="description" content="">
    <meta name="keywords" content="{{ meta_keywords or default_meta_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ theme:css }}">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="22497f48-eb62-4c00-a8f8-26fafbff4c02" type="text/javascript" async></script>
</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <div class="topbar d-none d-sm-block">
                    <div class="row">
                        <div class="col-sm-8">
                            <address>
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="fa fa-phone"></i> 071 - 572 42 03</li>
									<li class="list-inline-item">
										<i class="fa fa-envelope"></i> info@renaissance.nl</li>
								</ul>
							</address>
                        </div>
                        <!-- /.col-sm-8 -->
                        <div class="col-sm-4 text-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="/avg">AVG</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/privacy">Privacyverklaring</a>
                                </li>

                                {{ partial:social-links }}

                            </ul>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.topbar -->

                {{ partial:nav }}
            </div>
            <!-- /.container -->
        </header>


        <div id="content-container">
            {{ template_content }}
        </div>

        <footer class="gray">
            <div class="container">
                <div class="row">
                    <!-- /.col-md-2 col-12 -->
                    <div class="col-md-2 col-12">
                        <h4>Renaissance</h4>
                        <ul class="footer-menu">
                            <li>
                                <a href="/over-ons">Over Renaissance</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacyverklaring</a>
                            </li>
                            <li>
                                <a href="/avg">Verwerkingsovereenkomst</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-12">
                       
                    </div>
                    <!-- /.col-md-2 col-12 -->
                    <div class="col-md-2 col-12">
                        
                    </div>
                    <!-- /.col-md-2 col-12 -->
                    <div class="col-md-4 col-12">
                        {{ partial:mailchimp }}    
                    </div>
                    
                    <!-- /.col-md-2 col-12 -->
                    <div class="col-md-2 col-12 copyright">
                        <img class="renaissance-icon" src="{{ theme:img src="logo-white.png" }}">
                        <div id="copyright-text">
                            <address>

                                <strong>{{ site_name }}</strong>
                                <br>
								{{ address | nl2br }}
                            </address> 
                            
                            <p>Copyright &#xA9; 1998-2018</p>
                        </div>
                        <!-- /.copyright -->
                        <ul class="list-inline">
                            {{ partial:social-links }}
                        </ul>
                    </div>
                    <!-- /.col-md-2 col-12 copyright-container -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </footer>

    </div>
    <!--/ #app-->
</body>

</html>